@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --bg:#050816;
  --bg2:#0b1120;
  --card:#111827;
  --blue:#38bdf8;
  --blue2:#60a5fa;
  --text:#ffffff;
}

html,
body{
  margin:0;
  padding:0;
  min-height:100%;
  color:var(--text);

  background:
  radial-gradient(circle at top right,#0ea5e933,transparent 35%),
  radial-gradient(circle at bottom left,#3b82f633,transparent 35%),
  linear-gradient(135deg,#050816,#0b1120,#111827);

  scroll-behavior:smooth;
}

*{
  box-sizing:border-box;
}

a{
  text-decoration:none;
  color:white;
}

.neon-text{
  color:#7dd3fc;

  text-shadow:
  0 0 10px #38bdf8,
  0 0 20px #38bdf8,
  0 0 40px #38bdf8;
}

.glass{
  background:rgba(17,24,39,.55);

  backdrop-filter:blur(12px);

  border:1px solid rgba(56,189,248,.15);
}

.neon-card{
  background:#111827;

  border:1px solid rgba(56,189,248,.15);

  transition:.3s;
}

.neon-card:hover{

  transform:translateY(-5px);

  border-color:#38bdf8;

  box-shadow:
  0 0 15px rgba(56,189,248,.25),
  0 0 40px rgba(56,189,248,.15);
}

.neon-btn{

  background:linear-gradient(
  135deg,
  #0ea5e9,
  #2563eb
  );

  color:white;

  border:none;

  border-radius:12px;

  transition:.3s;

  cursor:pointer;
}

.neon-btn:hover{

  transform:translateY(-2px);

  box-shadow:
  0 0 20px rgba(56,189,248,.6);
}

.glow-image{

  filter:
  drop-shadow(
  0 0 20px rgba(56,189,248,.8)
  )
  drop-shadow(
  0 0 40px rgba(56,189,248,.4)
  );
}

.section-title{

  font-size:40px;
  font-weight:700;

  text-align:center;

  margin-bottom:50px;

  color:#7dd3fc;
                        }
